<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportingServiceSoap" />
                <binding name="ReportExecutionServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:80/ReportServer/ReportService2010.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReportingServiceSoap"
                contract="ReportSvc.ReportingService2010Soap" name="ReportingService2010Soap" />
            <endpoint address="http://localhost:80/ReportServer/ReportExecution2005.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap"
                contract="ReportExec.ReportExecutionServiceSoap" name="ReportExecutionServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>