html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	color: #222;
	font-family: Georgia, serif;
	line-height: 1.5em;
}

code {
	background-color: #f2f2f2;
	border: 1px dotted #aaa;
	color: #333;
	font: 0.875em 'Courier New', Courier, monospace;
	padding: 0.125em 0.25em 0em 0.125em;
	margin: 0 0.25em 0 0;
}

strong {
	font-weight: bold;
}

p {
	margin: 0 0 0.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.2em;
	padding: 0.5em 0 0.25em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
	padding: 0.75em 0;
}

h4 {
	font-size: 1.25em;
}

h5, h6 {
	font-size: 1em;
	padding-left: 0.5em;
	font-style: italic;
}

a, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover, a:active {
	color: #cc0000;
}

span {
	color: #000;
	font-family: 'Rosario', sans-serif;
	font-size: 1.05em;
	font-style: italic;
	text-transform: lowercase;
}

img {
	max-width: 100%;
}

.header {
	margin: 1em auto 0;
	padding: 0 20px 1em;
	text-align: center;
}

.header p {
	font-size: 1.75em;
	text-align: center;
}

.header h1 {
	text-shadow: 0px 1px 1px #fff;
}

.grid64 {
	padding: 0 20px;
}

.grid64 p {
	padding: 0 20px 0 0;
}

.row {
	margin-bottom: 1em;
}

.row p {
	padding: 0;
}

.example-grid {
	margin-bottom: 1.0em;
	margin-top: 1.0em;
}

.example-grid .row { 
	margin-bottom: 0em; 
}

.example-grid .row p {
	background: url('../images/block_bg.png') top center repeat;
	color: #000;
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.875em;
	margin: 0 0 0.5em;
	padding: 0.25em 0.5em 0.125em;
}

#example-header p, #example-main p, #example-sidebar p, #example-footer p {
	margin: 0 0 1em;
	padding: 1em;
}

#example-header p {
	background: #cfe09b;
}

#example-main p {
	background: #89ccca;
}

#example-sidebar p {
	background: #c693c2;
}

#example-footer p {
	background: #afd39a;
}

.footer {
	font-size: 0.875em;
	margin-bottom: 1.5em;
	margin-left: -20px;	
	padding: 1em 0 0.5em 20px;
	text-align: center;
}

.grid64 .transparent {
	background: transparent;
}