<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false" autoReload="true">
  <!--throwExceptions="false" internalLogFile="c:\temp\nlog.txt" internalLogLevel="Debug"-->

  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>

  <targets async="true">
   
    <target name="console" xsi:type="ColoredConsole"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}-${level}: ${message}">
    </target>

    <target name="file" xsi:type="File" fileName="${basedir}/Logs/SigmaWMS.log"
      layout="${longdate}|${level}|${exception:stacktrace}|${callsite:className=true:fileName=true:includeSourcePath=false:methodName=true}|${message}">
    </target>
    
  </targets>

  <rules>
    
    <logger name="*" minlevel="Info"  writeTo="console,file" />
    <logger name="*" minlevel="Error" writeTo="file" />
    <logger name="*" minlevel="Fatal" writeTo="file" />
    <!--
    <logger name="*" minlevel="Info"  writeTo="console,db" />
    <logger name="*" minlevel="Info"  writeTo="file" />
    <logger name="*" minlevel="Fatal" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="file" final="true" />
    -->

  </rules>

</nlog>